<h3 class="first">Add Staff Account</h3>

<form [formGroup]="createStaffAccountForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="staffFirstName">First Name</label>
      <input type="text" class="form-control" id="staffFirstName" placeholder="First Name" aria-describedby="emailHelp" [(ngModel)]="staffAccount.FirstName" formControlName="firstName" required>
      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>
    <div class="form-group">
      <label for="staffLastName">Last Name</label>
      <input type="text" class="form-control" id="staffLastName" placeholder="Last Name" [(ngModel)]="staffAccount.LastName" formControlName="lastName" required>
    </div>
    <div class="form-group">
      <label for="staffVisa">Staff Visa</label>
      <input type="text" class="form-control" id="staffVisa" placeholder="Staff Visa" [(ngModel)]="staffAccount.StaffVisa" formControlName="staffVisa" required>
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text" class="form-control" id="phone" placeholder="Phone" [(ngModel)]="staffAccount.Phone" formControlName="phone" required>
    </div>
    <div class="form-group">
      <label for="position">Position</label>
      <input type="text" class="form-control" id="position" placeholder="Position" [(ngModel)]="staffAccount.Position" formControlName="position" required>
    </div>
    <div class="form-group">
      <label for="department">Department</label>
      <p-dropdown id="department" [options]="departments" placeholder="Select Department" [(ngModel)]="selectedDepartment" optionLabel="Name" formControlName="department" required></p-dropdown>
      <!-- <input type="text" class="form-control" id="department" placeholder="Department" [(ngModel)]="staffAccount.DepartmentId" formControlName="department"> -->
    </div>
    <!-- <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <button type="submit" class="btn btn-primary" [disabled]="!createStaffAccountForm.valid">Submit</button>
  </form>

    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425" #cd>
            <p-footer>
                <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
                <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
            </p-footer>
    </p-confirmDialog>
