<footer class="footer">
    <div class="">
        <div class="row">
            <div class="col-md-6">
                <p>© Git_Revision  ||  Version: 1.2.0.M21</p>               
                <div>
                    <p></p>
                    <p></p>
                </div>
            </div>
            <div class="col-md-6">
                <p class="pull-right">
                    aaaa
                </p>
            </div>
        </div>
    </div>
</footer>