<div *ngIf="user">
  <h2>{{user.FirstName}} {{user.LastName}} Details</h2>
  <div><span>id: </span>{{user.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="user.FirstName" placeholder="FirstName"/>
    </label>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>