<div class="spinner">
    <div [ngBusy]="busy">
      <div class="row top-buffer-20">
        <div class="col-md-12">
          <button class="k-button k-secondary pull-right" (click)="goBack()">Back to list</button>
          <button class="k-button k-primary pull-right margin-right-10" (click)="save()">Save</button>
        </div>
      </div>
      <div class="row top-buffer-20">
        <div class="col-md-9">
          <div class="panel">
              <div class="panel-heading">
                  <h2>Survey Information
                  </h2>
                </div>
                <div class="panel-body">
                  <div class="row top-buffer-40">
                    <mat-form-field class="col-md-6">
                      <input matInput class="form-control" placeholder="Survey Name" [disabled]="true" [(ngModel)]="data.SurveyName">
                    </mat-form-field>
                  </div>
                  <div class="row top-buffer-20">
                    <mat-form-field class="col-md-6">
                      <mat-select class="form-control" [value]="data.SurveyYear" [disabled]="true" [(ngModel)]="data.SurveyYear"  placeholder="Select Year Of Survey">
                        <mat-option [value]="2017">2018</mat-option>
                        <mat-option [value]="2018">2019</mat-option>
                        <mat-option [value]="2019">2020</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
          </div>

          <div class="panel">
              <div class="panel-heading">
                <h2>Selected Branch Companies
                </h2>
              </div>
              <div class="panel-body">
                <p-pickList sourceHeader="Source Branch Company List" [disabled]="true" targetHeader="Target Branch Company List" [source]="branchSourceList" [target]="branchTargetList" filterBy="City"
                        [sourceStyle]="{'width':'300px'}" [targetStyle]="{'width':'300px'}"
                        (onMoveToTarget)="moveToTarget($event)" (onMoveAllToTarget)="moveAllToTarget($event)"
                        (onMoveAllToSource)="moveAllToSource($event)" (onMoveToSource)="moveToSource($event)">
                          <ng-template let-branch pTemplate="item">
                              <div class="ui-helper-clearfix">
                                  <div style="font-size:14px;float:left;margin:15px 5px 0 0">{{branch.City}} - {{branch.CountryName}}</div>
                                  <img src="../../../assets/images/{{branch.CountryName}}.png" style="display:inline-block;float:right;margin:2px 0 2px 2px" width="50">
                              </div>
                          </ng-template>
                      </p-pickList>
              </div>
          </div>

          <div class="panel">
              <div class="panel-heading">
                <h2>Survey Date & Time
                </h2>
              </div>
              <div class="panel-body">
                  <div class="row top-buffer-40">
                      <div class="col-md-6">
                        <div>Published Deadline (General Director):</div>
                        <p-calendar [(ngModel)]="data.PublishDeadline" [disabled]="true"
                          dateFormat="dd/mm/yy" [showIcon]="true"
                          [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
                      </div>
                    </div>
                    <div class="row top-buffer-40">
                      <div class="col-md-6">
                        <div>Submitted Deadline (Branch Director):</div>
                        <p-calendar [(ngModel)]="data.SubmitDeadline" [disabled]="true"
                          dateFormat="dd/mm/yy" [showIcon]="true"
                          [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
                      </div>
                    </div>
                    <div class="row top-buffer-40">
                      <div class="col-md-6">
                        <div>Validated Deadline (General Director):</div>
                        <p-calendar [(ngModel)]="data.ValidateDeadline" [disabled]="true"
                          dateFormat="dd/mm/yy" [showIcon]="true"
                          [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
                      </div>
                    </div>
              </div>
          </div>

        </div>
        <div class="col-md-3">
          <div class="panel">
            <app-survey-status-notification [Notes]="notes"></app-survey-status-notification>
          </div>
        </div>
      </div>
    </div>

    </div>
