/deep/app-login {
  .login-card{
    // margin-top:50px;
    margin: auto;
    width: 500px;
  }
  .banner {
    //margin-top: 60px;
  }
  // .control-length {
  //   width: 300px;
  // }
  .login-control-center {
    margin-left:80px;
  }
  .logo {
    position: relative;
    left: 39%;
    margin: 0;
    width:100px;
    height:auto;
  }
  .ng-dirty.ng-invalid.ng-touched {
    border-color:red !important;
      .form-control& {
          border-color: red !important;
      }
  }
}

