<div class="login-card">
  <div [ngBusy]="busy" class="banner">
    <p-card>
            <div class="login">
              <h2>Log in
                
              </h2>
              <hr />
              <img src="../../../../assets/images/1004px-Logo-hcmut.svg.png" class="logo" />
            </div>
            
            <form [formGroup]="formGroup" role="form">

                <div class="row">
                  <div class="col-md-12 left-block row-no-outside-gutter">
                      <app-form-field class="login-control-center" [inline]="true" [label]="'Email'" [labelCol]="5" [controlCol]="10">
                          <input type="text" class="form-control control-length" formControlName="EmailRule" [(ngModel)]="data.Email">
                        </app-form-field>
                  </div>
                  
                </div>
                <div class="row top-buffer-20">
                  <div class="col-md-12 left-block row-no-outside-gutter">
                      <app-form-field class="login-control-center" [inline]="true" [label]="'Password'" [labelCol]="5" [controlCol]="10">
                          <input type="password" class="form-control control-length" formControlName="PasswordRule" [(ngModel)]="data.Password">
                        </app-form-field>
                  </div>
                  
                </div>


                <div class="row">
                  <div class="col-md-6">
                    <button type="submit" class="login-control-center k-button k-primary pull-left" (click)="submit()">Login</button>
                </div>
              </div>
            </form>
    </p-card>
  </div>
</div>


