<div class="panel panel-curved col-small-padding">
  <div class="panel-heading">
    <h2>Notification Of Single Survey
    </h2>
  </div>
  <div class="panel-body">
    <div class="notifications-block">
      <div class="notification-block" *ngFor="let note of Notes; let i = index">
        <div>
          <b class="notification-title">{{note.Author}} | Change status</b>
        </div>
        <p>{{note.Date | date:'full'}}</p>
        <div>
          <b>{{note.SurveyName}} - </b>
          <b [ngClass]="{
            'gray-field': note.SingleSurveyStatus === status.Open,
            'green-field': note.SingleSurveyStatus === status.Submitted,
            'light-green-field': note.SingleSurveyStatus === status.Appending,
            'red-field': note.SingleSurveyStatus === status.Correcting,
            'orange-field': note.SingleSurveyStatus === status.Closed
          }">{{SingleSurveyStatus[note.SingleSurveyStatus]}}</b>
        </div>
        <hr *ngIf="Notes.length > 1"/>
      </div>
    </div>
  </div>
</div>
