<ng-template ngFor let-item [ngForOf]="menuItems" let-column>
    <ng-template [ngIf]="item.hasSubMenu">
      <li class="dropdown-submenu">
        <a title="{{item.displayName}}">
          <i class="icon {{item.iconClass}}"></i>
          {{item.displayName}}
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
        <ul class="dropdown-menu">
          <ng-template ngFor [ngForOf]="item.subMenus" let-subItem>
            <li (click)="onItemClick(subItem)">
              <a title="{{subItem.displayName}}">
                <i class="icon {{subItem.iconClass}}"></i>
                <p>{{subItem.displayName}}</p>
              </a>
            </li>
          </ng-template>
        </ul>
      </li>
    </ng-template>
    <ng-template [ngIf]="!item.hasSubMenu">
      <li (click)="onItemClick(item)">
        <a title="{{item.displayName}}">
          <i class="icon {{item.iconClass}}"></i>
          <p>{{item.displayName}}</p>
        </a>
      </li>
    </ng-template>

</ng-template>