<div class="spinner">
  <div [ngBusy]="busy" class="row">
      <div class="row top-buffer-20">
          <div class="col-md-12">
            <button class="k-button k-secondary pull-right" (click)="goBack()">Back</button>
          </div>
      </div>
      <div class="row row-no-outside-gutter top-buffer-20">
          <div class="col-md-12 col-no-padding">
              <div class="panel">
                  <div class="panel-heading">
                      <h2>Survey Information
                      </h2>
                  </div>
                  <div class="panel-body">
                    <div class="row top-buffer-40">
                      <div class="col-md-6 left-readonly">
                        <div class="row">
                          <div class="col-md-6">
                            <p class="readonly-label">Survey Name</p>
                          </div>
                          <div class="col-md-6">
                            <p class="readonly-value">{{data.SurveyName}}</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <p class="readonly-label">Status</p>
                          </div>
                          <div class="col-md-6">
                            <p class="readonly-value status-font-field" [ngClass]="{
                              'gray-field': data.Status === totalStatus.Created,
                              'green-field': data.Status === totalStatus.Published,
                              'golden-field': data.Status === totalStatus.Validated,
                              'purple-field': data.Status === totalStatus.Completed
                            }">
                              {{TotalSurveyStatus[data.Status]}}
                            </p>
                          </div>
                        </div>

                      </div>

                      <div class="col-md-6 right-readonly">
                          <div class="row">
                            <div class="col-md-6">
                              <p class="readonly-label">Created Date</p>
                            </div>
                            <div class="col-md-6">
                              <p class="readonly-value">{{data.CreatedDate | date:'dd.MM.yyyy'}}</p>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-6">
                              <p class="readonly-label">Publish Deadline</p>
                            </div>
                            <div class="col-md-6">
                              <p class="readonly-value">{{data.PublishDeadline | date:'dd.MM.yyyy'}}</p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <p class="readonly-label">Validate on</p>
                            </div>
                            <div class="col-md-6">
                              <p class="readonly-value">{{data.ValidateDeadline | date:'dd.MM.yyyy - HH:mm'}}</p>
                            </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <p class="readonly-label">Closed on</p>
                              </div>
                              <div class="col-md-6">
                                <p class="readonly-value">{{data.CloseDate | date:'dd.MM.yyyy'}}</p>
                              </div>
                            </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>

          <div class="col-md-12 col-no-padding">
              <p-table class="k-grid" [columns]="cols" [value]="singleSurveys"
              sortField="SurveyYear" sortMode="single" dataKey="SurveyName">
                    <ng-template pTemplate="header" let-columns>
                        <!-- <tr>
                            <th *ngFor="let col of columns">
                                {{col.header}}
                            </th>
                        </tr> -->
                        <tr class="list-survey-title">
                            <th>Branch Company</th>
                            <th>Status</th>
                            <th>Created Date</th>
                            <th>Submit Deadline</th>
                            <th style="width:6em">Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">

                        <tr [pSelectableRow]="rowData" class="color-row" [ngClass]="{
                          'gray-row': rowData['Status'] === singleStatus.Open,
                          'green-row': rowData['Status'] === singleStatus.Submitted,
                          'light-green-row': rowData['Status'] === singleStatus.Appending,
                          'red-row': rowData['Status'] === singleStatus.Correcting,
                          'orange-row': rowData['Status'] === singleStatus.Closed
                        }">
                            <td>{{rowData['BranchCompany']}}</td>
                            <td class="status-font-field none-border-column" [ngClass]="{
                              'gray-field': rowData['Status'] === singleStatus.Open,
                              'green-field': rowData['Status'] === singleStatus.Submitted,
                              'red-field': rowData['Status'] === singleStatus.Correcting,
                              'light-green-field': rowData['Status'] === singleStatus.Appending,
                              'orange-field': rowData['Status'] === singleStatus.Closed
                            }">{{SingleSurveyStatus[rowData['Status']]}}</td>
                            <td>{{rowData['CreatedDate'] | date:'dd/MM/yyyy'}}</td>
                            <td>{{rowData['SubmitDeadline'] | date:'dd/MM/yyyy'}}</td>
                            <td class="none-border-column row">
                              <button class="k-button k-primary action-list" (click)="onRowSelect($event, rowData)">
                                <i class="fa fa-info"></i>
                              </button>

                              <!-- <button *ngIf="rowData['Status'] === status.Created" class="k-button k-primary action-list" (click)="createSingle($event, rowData)">
                                <i class="fa fa-sitemap"></i>
                              </button> -->

                          </td>
                        </tr>
                    </ng-template>
                </p-table>

                <p-confirmDialog header="Warning" icon="pi pi-exclamation-triangle" width="425" #cd>
                  <p-footer>
                      <button type="button" pButton  label="Cancel" (click)="cd.accept()"></button>
                  </p-footer>
          </p-confirmDialog>
          </div>

      </div>
  </div>
</div>
