<div class="form-group row" [class.form-group-inline]="inline" [class.form-group-no-spacing]="noSpacing">
    <label *ngIf="label && isShowLabel" class="{{labelColCss}}" [class.control-label-inline]="inline">{{ label }}<span class="required-asterisk"
       *ngIf="controlName && controlName.enabled"></span>
    </label>
    <div class="{{controlColCss}}" [class.form-control-inline]="inline" [class.has-danger]="showValidationError && !warning" [class.has-warning]="warning" #inputGroup>
        <ng-content></ng-content>
    </div>
    <div class="col-md-12 col-no-min-height">
    <span class="control-validation" *ngIf="hasValidationMessage">
        <span *ngIf="showValidationError" class="control-validation-messages">{{errorMessage || warning}}</span>
    </span>
    </div>
</div>
