// @import (reference) "../styles/variables.less";
.error-page {
    min-height: 100%;
    // background-color: @default-main-content-background-color;
    padding-left: 250px;
    padding-top: 250px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
}

span {
    font-size: 200px;
    line-height: 232px;
    font-feature-settings: "kern";
    font-kerning: normal;
    color: rgb(102, 102, 102);

    &.error-code {
        font-size: 200px;
        line-height: 232px;
    }
    
    &.error-title {
        font-size: 48px;
        line-height: 59px;
    }
    
    &.error-message {
        font-size: 14px;
        line-height: 17px;
        white-space: nowrap;
        font-weight: 500;
    }
}



 