<div class="panel panel-curved col-small-padding">
  <div class="panel-heading">
    <h2>Notification Of Survey
    </h2>
  </div>
  <div class="panel-body">
    <div class="notifications-block">
      <div class="notification-block" *ngFor="let note of Notes; let i = index">
        <div>
          <b class="notification-title">{{note.Author}} | Change status</b>
        </div>
        <p>{{note.Date | date:'full'}}</p>
        <div>
          <b>{{note.SurveyName}} - </b>
          <b [ngClass]="{
            'gray-field': note.TotalSurveyStatus === status.Created,
            'green-field': note.TotalSurveyStatus === status.Published,
            'golden-field': note.TotalSurveyStatus === status.Validated,
            'purple-field': note.TotalSurveyStatus === status.Completed
          }">{{TotalSurveyStatus[note.TotalSurveyStatus]}}</b>
        </div>
        <hr *ngIf="Notes.length > 1"/>
      </div>
    </div>
  </div>
</div>
