/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ng-busy/src/style/busy.css";
@import "../node_modules/primeng/resources/themes/omega/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/bootstrap-less/bootstrap/index.less";
// @import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/ngx-toastr/toastr.css";
@import "./app/commons/styles/ehp-control-custom.less";
@import "./app/commons/styles/ehp-custom.less";
@import "./app/commons/styles/ehp-layout-custom.less";
@import "./app/commons/styles/navigation.less";
@import "./app/commons/styles/ehp-icons.css";
@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/themes/nova-light/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";


.spinner {
    position: relative;
    width: 100%;
    min-width: 100%;
    display: block
}

.ng-busy-default-text {
    display: none;
}

.ng-busy,
.ng-busy-backdrop {
    z-index: 1025;
}
