@media only screen and (max-width: 1920px) { 
     body.container,  .main-content.container, footer .container, header .container, nav, .panel-fixed-top{
       width: 100%;
       
     }
     body.container, footer .container{
       padding-left: 0;
       padding-right: 0;
     }

     .scroll-to-top {
       .container {
         width: 100%;
       }
     }
 }
