.col-small-padding {
    padding-left: 10px;
    padding-right: 10px;
    @media(max-width: 991px) {
        margin-top: 10px;
        padding-right: 0;
        padding-left: 0;
    }
}
.row-no-gutter,
.form-group {
    >[class*="col-"] {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.row-no-outside-gutter {
    >[class*="col-"] {
        &:first-child {
            padding-left: 0 !important;
        }
    }
    >[class*="col-"] {
        &:last-child {
            padding-right: 0 !important;
        }
    }
}

.col-no-min-height {
    min-height: 0px !important;
}

.col-no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.col-no-padding-left {
    padding-left: 0 !important;
}

.col-no-padding-right {
    padding-right: 0 !important;
}

.top-buffer {
    margin-top: 10px;
}

.top-buffer-10 {
    margin-top: 10px;
}

.top-buffer-20 {
    margin-top: 20px;
}

.margin-right-10 {
  margin-right: 10px;
}

.min-height-panel{
  min-height: 600px;
}

.top-buffer-40 {
  margin-top: 20px;
}

.bottom-buffer {
    margin-bottom: 20px;
}

.border-bottom-0 {
    border-bottom: none;
    box-shadow: none;
}
// #region Container
.content-container {
    margin-left: 50px;
    margin-top: -43px;
    margin-right: 50px;
    >.content-box {
        background-color: white;
        padding: 16px 16px 1px 16px;
        margin-bottom: 10px;
        >h4 {
            margin-top: 0;
        }
        kendo-dropdownlist {
            width: 45%;
        }
        >ul {
            >li {
                padding-bottom: 5px;
                padding-top: 5px;
            }
            >li.last-child {
                border-bottom: 1px solid gray;
            }
        }
        .glyphicon {
            padding-right: 8px;
        }
        .glyphicon-ok {
            color: green;
        }
        .glyphicon-exclamation-sign {
            color: red;
        }
    }
    >.content-actions {
        margin-top: 18px;
        >button {
            margin-left: 4px;
        }
    }
}

.top-buffer-30 {
    margin-top: 30px;
}

.top-buffer-40 {
    margin-top: 40px;
}
.top-buffer-50 {
    margin-top: 50px;
}
.top-buffer-55 {
    margin-top: 55px;
}
.top-buffer-70 {
    margin-top: 70px;
}

.top-buffer-105 {
    margin-top: 105px;
}

.top-buffer-110 {
    margin-top: 110px;
}

.top-buffer-175 {
    margin-top: 175px;
}

.panel {
    margin-bottom: 10px;
    border-radius: 0px;
    >.panel-heading {
        .panel-heading-title,
        h2 {
            // set standard font size for component title
            font-size: 20px;
            margin-top: 0px;
            margin-bottom: 0px;
        }
        padding-bottom: 0px;
        padding-top: 15px;
    }
    >.panel-body {
        .form-group-read-only {
            margin-bottom: 8px;
            .form-control {
                background-color: transparent;
            }
        }
    }
    >.panel-body-5px-bottom-space {
        padding-bottom: 5px;
    }
    >.panel-body-no-bottom-space {
        padding-bottom: 0px;
    }
    &.top-buffer-50 {
        margin-top: 50px;
    }
}

.panel-transparent {
    background-color: transparent;
    border: none;
    box-shadow: none;
    >.panel-heading,
    >.panel-body {
        border: none;
    }
}

.panel-curved {
    border-radius: 5px;
}

.panel-fixed-top {
    position: fixed;
    top: 0;
    z-index: 1020;
    padding-top: 80px;
    margin-left: -15px;
    background-color: @default-main-content-background-color;
    padding-bottom: 20px;
    .row {
        margin-top: -10px;
        padding-top: 15px;
        &.banner {
            background-color: rgba(0, 51, 136, 0.2);
            margin-left: -15px;
            margin-right: -15px;
            margin-top: -30px;
            height: 60px;
            color: rgb(0, 51, 136);
            display: flex;
            align-items: center;
            font-size: 16px;
            i {
                font-size: 25px;
            }
            word-wrap: break-word;
            &:nth-last-child(2) {
                margin-bottom: 15px;
            }
            &.secondary{
                margin-top: 5px;
                height: 50px;
                padding-top: 0px;
            }
            >.col-md-12 {
                align-items: center;
                display: flex;
                >.pull-right {
                    margin-left: auto;
                }
            }
        }
        .col-md-12.col-no-padding {
            padding-left: 0;
        }
    }
}

body .ui-table .ui-table-thead > tr > th {


  background-color: rgba(0, 51, 136, 0.2);
  color: white;
  font-weight: bold;
  font-size: 20px;
  border:none !important;
}

.k-grid th:first-child {
  border-top-left-radius: 8px !important;
}
.k-grid th:last-child {
  border-top-right-radius: 8px !important;
}

.action-list {
  margin-left:10px !important;
  padding: 0 !important;
  padding-left: 0 !important;
}

.panel-no-top-space {
    padding-top: 0;
    margin-top: 0;
}

.notification-block {
    padding-top: 8px;
    padding-bottom: 8px;
    .notification-text {
        margin-top: 4pt;
    }
}

.notifications-block {
    padding-top: 15px;
}

.k-tabstrip>.k-content {
    border: none;
    padding: 0px;
}

.k-tabstrip .k-tabstrip-items {
    border: none;
    height: 28px;
    .k-item.k-state-default {
        color: #003388;
    }
    .k-item.k-state-active {
        background-color: #003388;
        border-color: #003388;
        color: #fff;
    }
    .k-item {
        font-weight: bold;
    }
}


// #endregion Container
