    @import (reference) "variables.less";
    @font-face {
        font-family: 'ArialMT', 'Arial';
        font-weight: 400;
        font-style: normal;
        font-size: 13px;
        src: url('../../../fonts/glyphicons-halflings-regular.eot');
        src: url('../../../fonts/glyphicons-halflings-regular.eot?iefix') format('enbedded-opentype'), url('../../../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../../../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../../../fonts/glyphicons-halflings-regular.svg#ArialMT') format('svg');
    }

    @font-face {
        font-family: 'Lato';
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        src: local('Lato-Regular'), local('Lato-Regular'), url('../../../fonts/Lato-Regular.eot');
        src: local('Lato-Regular'), local('Lato-Regular'), url('../../../fonts/Lato-Regular.eot?iefix') format('enbedded-opentype'), local('Lato-Regular'), local('Lato-Regular'), url('../../../fonts/Lato-Regular.ttf') format('truetype'), local('Lato-Regular'), local('Lato-Regular'), url('../../../fonts/Lato-Regular.woff2') format('woff2'), local('Lato-Regular'), local('Lato-Regular'), url('../../../fonts/Lato-Regular.woff') format('woff');
    }

    @font-face {
        font-family: 'Lato';
        font-weight: 700;
        font-style: normal;
        font-size: 13px;
        src: local('Lato-Bold'), local('Lato-Bold'), url('../../../fonts/Lato-Bold.eot');
        src: local('Lato-Bold'), local('Lato-Bold'), url('../../../fonts/Lato-Bold.eot?iefix') format('enbedded-opentype'), local('Lato-Bold'), local('Lato-Bold'), url('../../../fonts/Lato-Bold.ttf') format('truetype'), local('Lato-Bold'), local('Lato-Bold'), url('../../../fonts/Lato-Bold.woff2') format('woff2'), local('Lato-Bold'), local('Lato-Bold'), url('../../../fonts/Lato-Bold.woff') format('woff');
    } // #region Controls
    body {
        margin: 0;
        background-image: none;
        position: relative;
        background-color: @default-background-color;
        color: black;
        .default-font-style;
        position: static;
    }

    .search-highlight {
        background-color: yellow;
    }

    .search-focus {
        background-color: limegreen;
    }

    .search-btn {
        margin-left: 6px;
    }

    .ui-treetable tbody td:first-child span {
        vertical-align: baseline;
    }

    button {
        border-width: 0px;
        left: 0;
        top: 0;
        height: 35px;
        background: inherit;
        border: none;
        border-radius: 5px;
        min-width: 50px;
        .default-font-style;
        font-size: 14px;
    }

    label {
        font-weight: 400;
        font-style: normal;
    }

    footer {
        position: relative;
        color: #ffffff;
        p {
            padding: 7px 0;
            margin: 0;
        }
        .container {
            padding: 0px;
            background-color: @default-footer-background-color;
        }
    }

    input,
    textarea,
    .k-dropdown-wrap {
        box-shadow: 1px 1px 2px 0px rgba(228, 228, 228, 1) inset;
        border: 1px solid rgba(228, 228, 228, 1);
        border-radius: 5px;
    } // input[type="checkbox"] {
    //   color: @default-gray-color;
    //   font-family: "Ionicons";
    //   font-size: 21px;
    //   margin: 0;
    //   &:not(:checked), &:checked {
    //     position: relative;
    //     cursor: pointer;
    //     &::before {
    //       position: absolute;
    //       left: 0;
    //       top: 2px;
    //       background: #fff;
    //     }
    //   }
    //   &:not(:checked)::before {
    //     content: "\F372";
    //   }
    //   &:checked::before {
    //     content: "\F373";
    //   }
    // }
    .button-default {
        color: @default-blue-color;
        background-color: rgba(204, 204, 204, 1);
        &:hover {
            background-color: rgba(102, 102, 102, 1);
        }
        &:focus {
            box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
            outline: 0;
        }
    }

    .primary-button-text {
        color: #fff;
    }

    textarea {
        &.k-input {
            min-height: 80px;
            overflow-y: auto;
            padding-left: 10px;
            padding-top: 5px;
        }
        &:focus {
            outline: none;
        }
        resize: none;
    }

    .main-content {
        background-color: @default-main-content-background-color;
        padding-bottom: 30px; // padding-top: 11%;
        padding-top: 90px;
        min-height: @default-min-height-main-content;
    }

    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .box {
        border: 0;
        background-color: #fff;
        border-radius: 7px;
        margin: 15px 0 30px 0;
        padding: 20px 0;
        h5 {
            color: rgb(0, 53, 142);
            font-size: 16px;
            margin: 20px 0;
            @media(max-width: 992px) {
                margin-bottom: 0;
            }
            +div {
                >div {
                    @media(max-width: 992px) {
                        margin: 20px 0;
                    }
                }
            }
        }
        .k-dropdown {
            width: 100%;
        }
        button {
            margin-top: 23px;
            @media(max-width: 992px) {
                margin-top: 0;
            }
        }
        >.row>div {
            @media(max-width: 992px) {
                margin-top: 20px;
            }
        }
    }

    .data-form {
        .data-field {
            display: flex;
            margin: 20px 0;
            align-items: center;
            >*:not(label):not(button) {
                width: 100%;
            }
            &.align-top {
                align-items: stretch;
                >label {
                    align-self: flex-start;
                    padding-top: 5px;
                }
            }
            label {
                min-width: 170px;
                margin-right: 30px;
                margin-bottom: 0;
                text-align: right;
            }
            input[type="radio"] {
                margin-top: -3px;
                margin-right: 5px;
                width: 15px;
                vertical-align: middle;
            }
            input[type="checkbox"] {
                width: auto;
                min-height: 35px;
                box-shadow: none;
            }
            button+button {
                margin-left: 20px;
            }
        }
    }

    .detail-form {
        background-color: white;
        >.section-block {
            &:not(:first-child) {
                h4 {
                    border-top: 1px solid @default-control-border-color;
                    padding-top: 25px;
                }
            }
            h4 {
                font-size: 20px;
                margin-bottom: 0;
                padding-top: 15px;
            }
        }
    }

    .buttons {
        margin-top: 20px;
        button {
            &:not(:first-child) {
                margin-left: 20px;
            }
        }
    }

    bs-modal-container.modal {
        display: flex !important;
    }

    .modal-dialog {
        align-self: center;
        width: 726px;
        max-height: 900px;
        .modal-footer {
            button,
            button:hover {
                background-color: @default-blue-color;
            }
        }
    }

    .confirm-modal {
        width: 500px;
    }

    .languages {
        .k-dropdown,
        .k-dropdown-wrap {
            max-height: 25px;
            max-width: 72px;
        }
        .k-i-arrow-s {
            margin-top: -2px;
        }
        .k-dropdown .k-dropdown-wrap .k-input {
            padding-top: 8px;
            padding-left: 10px;
        }
    }

    .dropdown-gray {
        .k-select {
            background-color: @default-light-1-gray-color;
        }
    }

    .dropdown-primary {
        .k-select {
            background-color: #003388;
            border-color: #003388;
        }
    }

    .k-multiselect-wrap .k-button {
        height: 24px;
        .k-select {
            background-color: transparent;
            border: none;
            .k-icon {
                width: 20px;
                height: 20px;
                font-size: 20px;
                color: gray;
            }
        }
    }

    ehp-footer {
        .dropdown-gray.languages {
            position: relative;
            z-index: 1;
        }
    } // #endregion
    // #region Kendo UI Custom
    .k-input,
    .k-dateinput-wrap .k-input,
    .k-dropdown-wrap,
    .k-multiselect-wrap {
        left: 0px;
        top: 0px;
        height: 30px;
        font-family: 'Lato-Regular', 'Lato';
        font-weight: 400;
        font-style: normal;
        font-size: 13px;
        text-decoration: none;
        color: #000;
        text-align: left;
        border-color: transparent;
        outline-style: none;
    }

    .k-picker-wrap {
        input {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        .k-select {
            border-top-right-radius: 5px !important;
            border-bottom-right-radius: 5px !important;
            background: @default-blue-color;
            color: #fff;
        }
    }

    .k-dialog {
        font-family: 'Lato-Light', 'Lato Light', 'Lato';
        font-weight: 200;
        font-style: normal;
        font-size: 20px;
        color: #FFFFFF;
        text-align: left;
        border-radius: 7px;
        .k-dialog-titlebar {
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
            background-color: rgba(43, 56, 74, 1);
        }
    }

    .k-dropdown {
        .k-popup {
            margin: 0;
            padding: 0;
            .k-list .k-item {
                font-size: 13px;
                min-height: 30px;
                padding: 0 0.75rem;
                padding-top: 3px;
                &:not(:first-child) {
                    border-top: 1px solid #ccc;
                }
            }
        }
        .k-dropdown-wrap .k-input,
        .k-autocomplete .k-input  {
            font-weight: bold;
            color: #333333;
        }
        .k-select {
            .k-i-arrow-s::before {
                content: "\F107";
                font: normal normal normal 28px/1 'FontAwesome';
            }
        }
    }

    .scroll-to-top {
        text-align: center;
        display: none;
        .scroll-to-top-background,
        .scroll-to-top-icon {
            position: fixed;
            bottom: 0px;
            height: 35px;
            overflow: hidden;
            padding-left: 0;
            margin-left: 0;
        }
        .scroll-to-top-background {
            img {
                border-width: 0px;
                width: 175px;
            }
        }
        .scroll-to-top-icon {
            font-size: 40px;
            i {
                cursor: pointer;
                &::before {
                    margin-top: 16px;
                }
            }
        }
    }

    .k-multiselect {
        .k-multiselect-wrap {
            padding-right: 40px;
            border-radius: 5px;
            kendo-taglist {
                li {
                    margin-top: 4px;
                    margin-left: 5px;
                    padding: 5px 7px;
                    border-radius: 5px;
                    background-color: #E4E4E4;
                    color: #000000;
                }
            }
            kendo-searchbar {
                height: 100%;
                input {
                    box-shadow: none;
                }
            }
            .k-clear-value {
                right: 0px;
            }
        }
    }

    .k-select {
        background-color: @default-blue-color;
        color: white;
    }

    .k-grid {
        .main-column {
            font-weight: 700;
        }
        .k-grid-norecords {
            text-align: center;
        }
        .k-grid-content {
            .font-bold,
            .status {
                font-family: 'Lato Bold', 'Lato';
                font-weight: 700;
                font-style: normal;
                font-size: 13px;
            }
        }
        .color-row {
            td:first-child {
                border-left-width: 5px;
                border-left-style: solid;
            }
        }
        .black-row {
            td:first-child {
                border-left-color: #000000 !important;
            }
            .status {
                color: #000000;
            }
            td {
                cursor: default;
            }
            &:hover {
                background-color: transparent;
            }
        }
        .black-row-selectable {
            td {
                cursor: pointer;
            }
            &:hover {
                background-color: rgba(22, 155, 213, 0.2);
            }
        }
        .k-alt.black-row.k-state-selected {
            background-color: transparent;
        }
        .gray-row {
            td:first-child {
                border-left-color: gray !important;
            }
            .status {
                color: gray;
            }
        }
        .green-row {
            td:first-child {
                border-left-color: @default-success-color !important;
            }
            .status {
                color: @default-success-color;
            }
        }
        .golden-row {
            td:first-child {
                border-left-color: #D1A000 !important;
            }
            .status {
                color: #D1A000;
            }
        }
        .purple-row {
            td:first-child {
                border-left-color: #800080 !important;
            }
            .status {
                color: #800080;
            }
        }
        .light-green-row {
            td:first-child {
                border-left-color: #03DAC5 !important;
            }
            .status {
                color: #03DAC5;
            }
        }
        .orange-row {
            td:first-child {
                border-left-color: #FF5309 !important;
            }
            .status {
                color: #FF5309;
            }
        }
        .red-row {
            td:first-child {
                border-left-color: #CC0000 !important;
            }
            .status {
                color: #CC0000;
            }
        }
        .blue-row {
            td:first-child {
                border-left-color: #003388 !important;
            }
            .status {
                color: #003388;
            }
        }
        .light-blue-row {
            td:first-child {
                border-left-color: #2980b9 !important;
            }
            .status {
                color: #2980b9;
            }
        }
    }

    .k-ie {
        .k-dropdown {
            .k-popup {
                .k-list .k-item {
                    padding-top: 9px;
                }
            }
        }
    }

    .btn-primary {
        background-color: rgba(0, 51, 136, 1);
        border: none;
        border-radius: 5px;
        -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.349019607843137);
        -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.349019607843137);
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.349019607843137);
    }

    .k-item {
        cursor: default;
        box-shadow: none;
        border: 0;
    }

    .k-input:focus,
    .k-input.k-state-focused,
    .k-textbox:focus,
    .k-textbox.k-state-focused,
    .k-input.k-textbox:focus,
    .k-input.k-textbox.k-state-focused {
        border-color: #cccccc;
        box-shadow: none;
    }

    .k-input,
    .k-textbox>input {
        padding: 0.5rem 0.75rem;
        padding-top: 9px;
        width: 100%;
        height: 35px;
        box-sizing: border-box;
        outline: 0;
        color: inherit;
        font: inherit;
        flex: 1;
        display: flex;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-appearance: none;
    }

    .k-pivot-toolbar .k-button:focus,
    .k-pivot-toolbar .k-button.k-state-focused,
    .k-fieldselector .k-list li.k-item:focus,
    .k-fieldselector .k-list li.k-item.k-state-focused {
        box-shadow: none;
    }

    .k-grid td,
    .k-grid .k-header,
    .k-grid .k-grid-content,
    .k-grid .k-grid-header-locked,
    .k-grid .k-grid-content-locked {
        border-color: lightgray;
        border: 0;
        border-bottom: 1px solid rgba(201, 205, 213, 1);
        cursor: pointer;
    }

    .k-grid tr.no-selection td {
        cursor: default;
    }

    .k-grid .k-alt {
        background-color: inherit;
    }

    .k-grid tr.k-alt.k-state-selected,
    .k-grid th.k-alt.k-state-selected,
    .k-grid td.k-alt.k-state-selected {}

    .k-grid tr.k-state-selected,
    .k-grid th.k-state-selected,
    .k-grid td.k-state-selected {
        border-color: inherit;
        color: inherit;
        background-color: inherit;
    }

    .k-grid-content {
        overflow-y: hidden;
    }

    .k-grid-header {
        border-bottom: 1px solid lightgray;
    }

    .k-grid-header .k-header {
        position: relative;
        vertical-align: bottom;
        background-color: rgba(248, 248, 248, 1);
        padding: 2px 5px;
    }

    .k-grid-header,
    .k-grid-footer {
        padding-right: 0 !important;
        border-style: solid;
        border-color: lightgray;
        color: #666666;
    }

    .k-grid tr:hover {
        background-color: rgba(22, 155, 213, 0.2);
    }

    .k-grid tr.no-selection:hover {
        background-color: transparent;
    }

    .k-grid th {
        border-width: 0 0 1px 1px;
        white-space: nowrap;
    }

    .k-grid td {
        border-width: 0 0 0 1px;
        vertical-align: middle;
        overflow: hidden;
        height: 42px;
        border-bottom: 1px solid lightgray;
    }

    .k-grid {
        display: flex;
        flex-direction: column;
        position: relative;
        font-family: 'Lato-Regular', 'Lato';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        overflow: visible;
        color: #666666;
        .k-grid-container {
            overflow-y: hidden;
        }
    }

    .k-pager-wrap .k-pager-nav,
    .k-pager-wrap .k-pager-numbers .k-link {
        font-size: 14px;
    }

    .k-pager-wrap .k-pager-info {
        font-size: 14px;
        color: #666666;
    }

    .k-dropdown .k-state-focused {
        color: #464a4c;
        background-color: #fff;
        border-color: #5cb3fd !important;
        box-shadow: none;
    }

    .k-list .k-item .item-title {
        padding-top: 5px;
        padding-bottom: 5px;
        color: @default-blue-color;
    }

    .k-list .k-item .item-description {
        color: @default-gray-color;
        font-size: 12px;
        padding-bottom: 5px;
    }

    .k-list .k-item:focus,
    .k-list .k-item.k-state-focused {
        box-shadow: none;
    }

    .k-list .k-item.k-state-selected {
        box-shadow: none;
        background-color: #003388;
        color: #fff;
    }

    .k-list .k-item.k-state-selected .item-title,
    .k-list .k-item.k-state-selected .item-description {
        color: #fff;
    }

    .k-list .k-item:focus,
    .k-list .k-item.k-state-focused {
        box-shadow: inset 0 0 0 2px rgba(204, 204, 204, 0.5);
    }

    .k-list .k-item,
    .k-list-optionlabel {
        min-height: 3rem;
    }

    .k-dateinput-wrap .k-select,
    .k-dropdown-wrap .k-select,
    .k-picker-wrap .k-select,
    .k-numeric-wrap .k-select {
        border-radius: 0 5px 5px 0;
        padding: 0;
    }

    .k-dateinput-wrap .k-input,
    .k-dropdown-wrap .k-input,
    .k-autocomplete .k-input,
    .k-picker-wrap .k-input,
    .k-numeric-wrap .k-input {
        height: 100%;
        font-size: 13px;
    }

    .k-dropdown-wrap .k-input,
    .k-autocomplete .k-input,
    .k-picker-wrap .k-input,
    .k-multiselect-wrap .k-input,
    .k-numeric-wrap .k-input {
        padding-top: 9px;
    }

    .k-dropdown-wrap,
    .k-picker-wrap,
    .k-numeric-wrap {
        border-radius: 5px;
        height: 35px;
    }

    .k-dateinput-wrap {
        height: 33px;
        border-radius: 5px;
    }

    .k-multiselect-wrap {
        height: auto;
        min-height: 35px;
    }

    .k-autocomplete,
    .k-combobox,
    .k-dateinput,
    .k-datepicker,
    .k-datetimepicker,
    .k-dropdown,
    .k-maskedtextbox,
    .k-timepicker {
        height: 35px;
    }

    .k-numerictextbox {
        height: auto;
    }

    .k-multiselect {
        min-height: 35px;
    } // .k-animation-container {
    //     z-index: 1000;
    //     font-size: 30px !important;
    // }
    .k-icon {
        width: 35px;
        height: 26px;
        font-size: 26px;
    }

    .k-combobox .k-state-active,
    .k-datepicker .k-state-active,
    .k-timepicker .k-state-active,
    .k-datetimepicker .k-state-active {
        color: #464a4c;
        background-color: #fff;
        border-color: #5cb3fd;
        box-shadow: none;
    } //.k-multiselect,.k-dateinput .k-dateinput-wrap
    .k-autocomplete,
    .k-combobox .k-dropdown-wrap,
    .k-datepicker .k-picker-wrap,
    .k-timepicker .k-picker-wrap,
    .k-datetimepicker .k-picker-wrap,
    .k-input,
    .k-textbox,
    .k-input.k-textbox,
    .k-multiselect-wrap,
    .k-numerictextbox .k-numeric-wrap,
    .k-filtercell .dropdown-primary .k-input {
        color: #464a4c;
        background-color: #fff;
        border: 1px solid #cccccc;
        border-radius: 5px;
    }

    .k-button.k-grid-add-command,
    .k-button.k-primary,
    .k-button.k-upload-button,
    .k-slider .k-draghandle,
    .k-switch-background,
    .km-switch-background,
    .k-switch-on .k-switch-handle,
    .km-switch-on .km-switch-handle {
        color: #fff;
        background-color: #003388;
        border-color: #003388;
        background-image: none;
    }

    .k-button.k-secondary {
        color: @default-blue-color;
        background-color: @default-control-border-color;
        border-color: @default-control-border-color;
        background-image: none;
    }

    .k-list-container .k-nodata .k-button,
    .k-dropdown .k-dropdown-wrap,
    .k-pager-wrap .k-link,
    .k-pager-wrap .k-pager-nav,
    .k-grouping-header .k-group-indicator,
    .k-pivot-toolbar .k-button,
    .k-fieldselector .k-list li.k-item,
    .k-colorpicker .k-picker-wrap,
    .k-combobox .k-select,
    .k-datepicker .k-select,
    .k-timepicker .k-select,
    .k-datetimepicker .k-select,
    .k-dateinput .k-select,
    .k-editor-toolbar a.k-tool,
    .k-switch-wrapper,
    .km-switch-wrapper,
    .k-switch-handle,
    .km-switch-handle,
    .k-handle,
    .k-gantt-views li,
    .k-task-single,
    .k-scheduler-navigation .k-nav-today,
    .k-scheduler-navigation .k-nav-prev,
    .k-scheduler-navigation .k-nav-next,
    .k-scheduler-views li,
    .k-scheduler-footer li {
        border-color: @default-control-border-color;
        background-image: none;
    }

    .k-pager-wrap .k-link {
        width: 26px;
    }

    .k-button:focus {
        box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
    }

    .k-dropdown> :hover,
    .k-dropdown .k-state-hover,
    .k-pager-wrap .k-link:hover,
    .k-pager-wrap .k-pager-nav:hover,
    .k-button:hover,
    .k-button.k-state-hover,
    .k-button.k-flat:hover,
    .k-button.k-flat.k-state-hover,
    .k-action-buttons .k-button:hover,
    .k-pivot-toolbar .k-button:hover,
    .k-pivot-toolbar .k-button.k-state-hover,
    .k-fieldselector .k-list li.k-item:hover,
    .k-fieldselector .k-list li.k-item.k-state-hover,
    .k-colorpicker .k-state-hover,
    .k-combobox> :hover .k-select,
    .k-combobox .k-state-hover .k-select,
    .k-datepicker .k-state-hover .k-select,
    .k-timepicker .k-state-hover .k-select,
    .k-datetimepicker .k-state-hover .k-select,
    .k-dateinput .k-select:hover,
    .k-editor-toolbar a.k-tool:hover,
    .k-editor-toolbar a.k-tool.k-state-hover,
    .k-handle:hover,
    .k-calendar .k-nav-prev:hover,
    .k-calendar .k-nav-prev.k-state-hover,
    .k-calendar .k-nav-next:hover,
    .k-calendar .k-nav-next.k-state-hover,
    .k-calendar .k-nav-fast:hover,
    .k-calendar .k-nav-fast.k-state-hover,
    .k-calendar .k-footer .k-nav-today:hover,
    .k-calendar .k-footer .k-nav-today.k-state-hover,
    .k-gantt-views li.k-state-hover,
    .k-scheduler-navigation .k-nav-today.k-state-hover,
    .k-scheduler-navigation .k-nav-prev.k-state-hover,
    .k-scheduler-navigation .k-nav-next.k-state-hover,
    .k-scheduler-views li.k-state-hover,
    .k-scheduler-footer li.k-state-hover,
    .k-ghost-splitbar {
        color: #292b2c;
        background-color: #fff;
        border-color: #ccc;
        background-image: none;
    }

    .k-pager-numbers .k-state-selected,
    .k-pager-numbers .k-state-selected:hover,
    .k-button.k-primary:hover,
    .k-button.k-upload-button:hover,
    .k-numeric-wrap .k-select,
    .k-numeric-wrap .k-select:hover,
    .dropdown-primary .k-dropdown-wrap .k-select,
    .dropdown-primary .k-dropdown-wrap .k-select:hover {
        color: #fff;
        border-color: #003388;
        background-color: #003388;
    }

    .k-button.k-secondary:hover {
        border-color: rgba(102, 102, 102, 1);
        background-color: rgba(102, 102, 102, 1);
    }

    .k-state-disabled {
        .k-numeric-wrap& .k-select,
        .k-picker-wrap& .k-select,
        .k-select {
            color: #fff !important;
            border-color: @default-disable-color !important;
            background-color: @default-disable-color !important;
        }
    }

    .state-disabled-button {
        color: #fff !important;
        border-color: @default-disable-color !important;
        background-color: @default-disable-color !important;
    }

    .k-state-disabled .k-multiselect-wrap .k-select {
        background-color: transparent !important;
    }

    .k-numeric-wrap .k-select .k-link .k-icon {
        height: 110%;
    }

    .k-grid .k-grouping-row {
        position: relative;
        .k-reset {
            padding-left: 40px;
        }
        .k-icon {
            display: flex;
            position: absolute;
            width: 100%;
            height: 42px;
            left: -3px;
            font-size: 16px !important;
            font-weight: bold;
            align-items: center;
            padding-right: 32px;
            padding-left: 10px;
            margin: 0;
        }
    }

   // #endregion
    .k-button {
        padding: 4px 10px; // padding-top: 4px;
        border-radius: 5px;
        font-size: 13px;
        .icon {
            padding-bottom: 3px;
            font-size: 25px;
        }
    }

    .k-button:disabled,
    .button-icon:disabled {
        opacity: 0.5;
    }

    .titlebar {
        background-color: rgba(43, 56, 74, 1);
        border: none;
        border-radius: 7px;
        border-top-left-radius: 7px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        font-family: 'Lato-Light', 'Lato Light', 'Lato';
        font-weight: 200;
        font-style: normal;
        font-size: 20px;
        color: #FFFFFF;
        text-align: left;
        padding: 6px 10px;
        >p.col-md-6 {
            padding-top: 2px;
        }
        p {
            margin: 0;
        }
        div {
            font-size: 13px;
            vertical-align: middle;
            padding-top: 5px;
        }
        .button-icon {
            font-size: 20px;
            line-height: 1;
            margin-left: 20px;
            position: relative;
            border: 0;
            min-width: 25px;
            background: transparent;
            padding: 0 !important;
            height: 23px;
            color: #ffffff;
            .k-icon {
                font-size: 18px;
            }
        }
        kendo-switch {
            background-color: transparent;
            font-size: 11px;
            width: 2.5em;
            line-height: 1em;
            .k-switch-handle {
                width: 1em;
                height: 1em;
            }
            .k-switch-label-on,
            .k-switch-label-off {
                color: #2b384a;
            }
            .k-switch-container {
                background: #ffffff;
            }
        }
        .k-switch-on .k-switch-handle {
            background-color: #2b384a;
            color: #fff;
            border-color: #2b384a;
            background-image: none;
        }
    }

    .search-box {
        line-height: 1;
        padding: 0;
        input {
            border-width: 0px;
            font-family: 'Lato-Regular', 'Lato';
            font-weight: 400;
            font-style: normal;
            color: #999999;
        }
        span {
            background-color: rgba(0, 53, 142, 1);
            border: none;
            border-radius: 5px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            font-family: 'icomoon';
            font-weight: 400;
            font-style: normal;
            font-size: 35px;
            a {
                color: #ffffff;
                cursor: pointer;
            }
        }
    }

    .button-icon {
        display: inline-block;
        background-color: rgba(0, 53, 142, 1);
        border: none;
        border-radius: 5px;
        height: 35px;
        width: 35px;
        min-width: 35px;
        padding: 0px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        cursor: pointer;
        >.icon {
            font-family: 'icomoon';
            font-weight: 400;
            font-style: normal;
            font-size: 35px;
            color: #ffffff;
        }
    }

    .k-button.button-icon:disabled {
        color: #fff !important;
        border-color: @default-disable-color !important;
        background-color: @default-disable-color !important;
    }

    .button-icon-others {
        background-color: rgba(204, 204, 204, 1);
        >.icon {
            color: rgba(0, 53, 142, 1);
        }
        &:hover {
            background-color: rgba(25, 155, 216, 1);
            >.icon {
                color: #ffffff;
            }
        }
    }

    .button-icon-sub {
        background-color: #f8f8f8;
        >.icon {
            color: rgba(0, 53, 142, 1);
        }
    } // #region modal component
    .k-dialog {
        position: relative !important;
        padding: 0;
        .k-dialog-titlebar {
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
            padding-left: 15px;
            padding-right: 15px;
        }
        .k-dialog-header {
            color: #000;
            font-size: 13px;
            padding: 15px;
            padding-bottom: 0px;
        }
        .k-dialog-body {
            color: #000;
            font-size: 13px;
            padding: 15px;
            padding-bottom: 0px;
            margin-bottom: 15px;
            max-height: 781px; // RE1's just 783px;
            overflow: scroll;
            overflow-y: auto;
            overflow-x: hidden;
            /deep/ .k-dropdown {
                width: 100%;
            }
            .k-dialog-group {
                label.disabled {
                    color: #aaa;
                }
            }
        }
        .k-dialog-footer {
            padding: 15px;
            padding-top: 0px;
            button {
                margin-left: 6px;
            }
            >.condition-actions {
                display: inline-block;
            }
            >.button-default {
                padding-top: 4px;
            }
        }
        hr {
            padding: 0;
            margin-top: 0px;
            margin-bottom: 0px;
            border-color: #C9CDD5;
        }
    } // #endregion modal component
    .modal-backdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
        background-color: #333333;
    }

    .spinner {
        position: relative;
        width: 100%;
        min-width: 100%;
        display: block
    }

    .ng-busy-default-text {
        display: none;
    }

    .ng-busy,
    .ng-busy-backdrop {
        z-index: 1025;
    }

    .readonly-label {
        color: gray;
    }

    .readonly-value {
        font-weight: bold
    }

    .progress {
        height: 5px;
        margin-top: 20px;
        margin-bottom: 30px;
        position: relative;
        overflow: visible;
        background-color: @default-control-border-color;
        .circle {
            position: absolute;
            background-image: url('/assets/images/step.png');
            background-repeat: no-repeat;
            width: 25px;
            height: 25px;
            top: -12.5px;
            .title {
                color: @default-text-color;
                font-size: 13px;
                display: inline-block;
                margin-top: 10px;
                white-space: nowrap;
            }
            .icon {
                font-size: 15px;
            }
            &.active {
                background-image: url('/assets/images/active-step.png');
                .title {
                    color: #003388;
                }
            }
            &.done {
                background-image: url('/assets/images/done-step.png');
            }
            &.begin {
                left: -1px;
            }
            &.disabled {
                border-radius: 50px;
                background-color: #ccc;
                color: transparent;
                background-image: none;
                border: 3px solid #ccc;

                > .title {
                    margin-left: -3px;
                    margin-top: 7px;
                }
            }
            &.nearly-half {
                left: 33%;
            }
            &.half {
                left: 66%;
            }
            &.half-3-step {
                left: 49%;
            }
            &.finish {
                left: 99%;
                .title {
                    float: right;
                }
            }
        }
    }

    .progress-bar {
        background-color: #003388;
    }

    .toggle-show-hide {
        font-family: 'Lato Bold', 'Lato Regular', 'Lato';
        font-weight: 700;
        font-style: normal;
        font-size: 13px;
        color: #003388;
        a,
        a:hover,
        a:focus {
            text-decoration: none;
            cursor: pointer;
        }
        i.icon {
            font-size: 38px;
            margin-left: -13px;
            color: #003388;
            vertical-align: middle;
        }
    }

    .ladda-spinner-only {
        background-color: transparent !important;
        border: none;
        padding-left: 0px !important;
        .ladda-spinner {
            left: 13px !important;
        }
    }

    .other-actions-menu {
        display: block;
        max-width: 400px;
        min-width: 150px;
        padding-top: 4px;
        padding-bottom: 4px;
        right: 0px;
        background: #f8f8f8;
        z-index: 10;
        >div {
            padding: 4px;
            line-height: 35px;
            &:hover {
                cursor: pointer;
                background-color: #ffffff;
                .button-icon-sub {
                    background-color: #ffffff;
                }
            }
        }
    }

    .k-calendar {
        height: 274px;
        &.k-widget {
            font-size: 13px;
        }
        .k-state-selected .k-link {
            background-color: #003388 !important;
            border-color: #003388 !important;
        }
        .k-content {
            text-align: left;
            li {
                height: 1.64em;
            }
        }
    }

    .pull-right-button-group {
        max-height: 35px;
        .btn,
        .k-button {
            margin-left: 6px !important;
        }
    }

    .pull-left-button-group {
        .btn,
        .k-button {
            margin-right: 6px !important;
        }
    }

    .footer-button-group {
        .k-button {
            margin-top: 10px;
        }
    }

    .group-button-with-large-quick-filter {
        display: inline;
        button {
            margin-top: 125px;
            margin-left: 10px;
            margin-bottom: 10px;
        }
    }

    .group-button-hidden-large-quick-filter {
        display: inline;
        button {
            margin-left: 10px;
            margin-bottom: 10px;
        }
    }

    hr {
        border-color: #C9CDD5;
    }

    .k-multiselect-wrap .k-searchbar {
        width: 50px;
    }

    .ladda-button .ladda-label {
        display: flex;
        align-items: center;
    }

    .k-upload {
        .k-dropzone {
            height: 52px;
        }
        .k-dropzone-hint{
            display: none;
        }
        .k-file-name {
            font-size: 12px !important;
            color: #000 !important;
        }
        .k-file-size {
            font-size: 10px !important;
        }
        .k-file-extension {
            font-size: 8px !important;
        }
        .k-progress {
            background-color: #003388 !important;
            height: 5px !important;
            bottom: -3px !important;
        }
        .k-upload-files {
            padding-bottom: 0px !important;
        }
        .k-upload-button {
            margin-left: 9px !important;
        }
    }

    .message-container {
        display: flex;
        flex-direction: row;
    }

    .k-list-filter>.k-i-search {
        font-size: 20px;
        height: 20px;
    }

    app-multiselect .k-multiselect-wrap .k-searchbar {
        width: auto;
    } // tooltip style for any element inside each cell in app-grid
    .c-tooltip {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    prism-editor {
      pre {
          height: 100px;
      }
    }
    .toast-message {
        white-space: pre-line;
    } // this style apply for IE only
    @media screen and (-ms-high-contrast: active),
    (-ms-high-contrast: none) {
        .k-grid .k-grouping-row .k-icon {
            margin-top: -10px;
        }
    }

    .row.banner {
        button {
            background-color: transparent;
        }
    }

    .k-tabstrip .k-content {
        background-color: transparent;
    }
    .k-widget {
        font-size: inherit;
    }
    .ng-busy,
    .ng-busy-backdrop {
        top: -70px;
        bottom: -25px;
    }

    .modal-dialog {
        .ng-busy,
        .ng-busy-backdrop {
            top: 0;
            bottom: 0;
        }
    }

    .ng-busy {
        position: fixed;
        top: 85px;
        .ng-busy-default-sign {
            border-top: 1px solid #d8d8d8;
        }
    }
    @import "ehp-tablet-custom.less";
