@import (reference) "../styles/variables.less";
app-form-field {
    display: block;
}

.form-control {
    label& {
        background-color: rgba(248, 248, 248, 1);
        border: none;
        border-radius: 0px;
        margin-bottom: 0px;
        box-shadow: none;
        white-space: pre-wrap;
        height: auto;
        overflow: auto;
        min-height: @default-readonly-control-height;
    }
    ;
    input&,
    div& {
        color: #333333;
    }
    div[contenteditable=true]& {
        min-height: 35px;
        height: auto !important;
    }
}

app-rich-text-editor {
        &.ng-dirty.ng-valid.ng-touched,
        &.ng-pristine {
            .ql-editor:focus {
                border-color: #66afe9;
                outline: 0;
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
            }
        }

        &.ng-dirty.ng-invalid.ng-touched {
            p-editor {
                border-color: @default-validation-color !important;
            }
        }
        .ql-container.ql-snow {
            border: none;
        }
        .disable-rich-text {
            cursor: not-allowed !important;
            background-color: #eeeeee !important;
            opacity: 1 !important;
        }
        .form-control {
            display: block;
            width: 100%;
            height: auto !important;
            padding: 0 !important;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }


}

// size for rich-text-editor
.ql-size-small {
    font-size: 0.75em;
}
.ql-size-large {
    font-size: 1.5em;
}
.ql-size-huge {
    font-size: 2.5em;
}

.ng-dirty.ng-invalid.ng-touched {
    app-select&>.k-dropdown .k-dropdown-wrap,
    app-autocomplete&>.k-autocomplete,
    app-multiselect&>.k-multiselect .k-multiselect-wrap,
    .k-datepicker&>.k-picker-wrap,
    app-datepicker&>.k-datepicker .k-picker-wrap,
    .form-control& {
        border-color: @default-validation-color !important;
    }
}

.ng-dirty.ng-invalid.ng-touched {
    app-erinnerungen-date-group.ng-dirty.ng-invalid.ng-touched .k-numerictextbox .k-numeric-wrap,
    app-erinnerungen-date-group.ng-dirty.ng-invalid.ng-touched .k-datepicker .k-picker-wrap{
            border-color: @default-validation-color !important;
        }

}
.control-validation {
    display: block;
}

.control-validation-messages {
    color: @default-validation-color;
    font-size: 12px;
    position: relative;
}

.form-group {
    margin-bottom: 20px;
    .form-group-no-spacing& {
        margin-bottom: 0px;
    }
    .form-group-label-spacing {
        margin-bottom: 7px;
    }
    >label:not(.form-control) {
        margin-bottom: 7px;
        display: block;
    }
    .control-label-inline {
        margin-top: 10px;
    }
    .form-control-inline {
        input[type="checkbox"]{
            margin-top: 10px;
        }
    }
}

.form-group-inline {
    >.control-label-inline {}
}

// all controls
.k-numerictextbox,
.k-datepicker,
app-select .k-dropdown,
.k-timepicker {
    width: 100%;
}

// Check box
input[type="radio"],
input[type="checkbox"] {
    margin-top: 2px;
    box-shadow: none;
    border: none;
}

input[type="radio"]:checked+div,
input[type="checkbox"]:checked+div {
    font-weight: bold;
}

input[type="radio"]:disabled+div,
input[type="checkbox"]:disabled+div {
    opacity: 0.4;
    cursor: no-drop;
}

input[type="radio"]:disabled,
input[type="checkbox"]:disabled {
    opacity: 0.6;
}

.required-asterisk {}

.checkbox-group,
.radio-group {
    .radio:not(:last-child),
    .checkbox:not(:last-child) {
        margin-bottom: 20px;
    }
}

.checkbox-group-inline,
.radio-group-inline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .radio:not(:last-child),
    .checkbox:not(:last-child) {
        margin-bottom: 0px;
    }
}

.checkbox-inline,
.radio-inline {
    padding-left: 0px;
}

.radio,
.checkbox {
    margin-top: 0px;
    margin-bottom: 0px;
    >label {
        min-height: 18px;
        color: @default-black-color;
    }
    >.extended-label {
        padding-left: 8px;
    }
}

// Date picker
// Text box
.k-numerictextbox .k-link {
    padding: 0px 0px;
    height: auto;
    .k-icon {
        margin-top: -5px;
    }
}

button.center-btn {
    padding-left: 5px !important;
}

.k-button.k-upload-button {
    height: 35px;
}

.k-upload .k-upload-files .k-upload-status .k-button {
    padding: 0px !important;
}

.k-icon.k-delete.k-i-x {
    height: 35px;
}

.k-i-x::before {
    font-family: @default-icon-font-family;
    font-size: @default-icon-font-size;
    content: "\E91E";
}

.k-grid-toolbar {
    background-color: #fff;
    padding-top: 3px;
    padding-bottom: 3px;
}

.status-font-field {
  font-weight: bolder !important;
}
.gray-field {
    color: gray;
}

.green-field {
    color: #1d9a35;
}

.golden-field {
    color: #D1A000;
}

.black-field {
    color: #171717;
}

.orange-field {
    color: #FF5309;
}

.red-field {
    color: #CC0000;
}

.purple-field {
    color: #800080;
}
.light-green-field {
    color: #03DAC5;
}
.light-blue-field {
    color: #2980b9;
}

.k-numeric-wrap .k-input {
    flex: 1 1 auto;
    width: calc(~"100% - 35px");
}

kendo-numerictextbox.ng-invalid .k-numeric-wrap  {
    color: #d9534f;
    border-color: rgba(217, 83, 79, 0.5);
}

.ui-treetable.ui-treetable-hoverable-rows .ui-treetable-tbody > tr:not(.ui-state-highlight):not(.ui-contextmenu-selected):hover,
.ui-treetable .ui-treetable-tbody > tr.ui-state-highlight {
    background-color: 	#d2edf9;
    color: black;
}
