@charset "UTF-8";
@font-face {
    font-family: 'icomoon';
    src: url('../../../fonts/icon-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.icon {
    font-family: 'icomoon';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    text-rendering: auto;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: bottom;
}

.icon-support {
    vertical-align: middle;
}

.inline-icon-25 {
    font-size: 25px !important;
    cursor: pointer;
}

.inline-icon-30 {
    font-size: 30px !important;
}

.icon-navicon-round:before {
    content: "\e90D";
}

.icon-surveys:before {
    content: "\E907";
}

.icon-formulation:before {
    content: "\E908";
}

.icon-permits:before {
    content: "\E909";
}

.icon-setting:before {
    content: "\E90A";
}

.icon-edit:before,
.icon-self:before {
    content: "\E91C";
}

.icon-approve:before {
    content: "\E92A";
}

.icon-delete:before {
    content: "\E91E";
}

.icon-copy:before {
    content: "\E91D";
}

.icon-add:before,
.icon-create:before {
    content: "\E92D";
}

.icon-approved:before {
    content: "\E92A";
}

.icon-test:before {
    content: "\E925";
}

.icon-search:before {
    content: "\E90F";
}

.icon-scroll-to-top:before {
    content: "\E919"
}

.icon-other-actions:before {
    content: "\E926"
}

.icon-publish:before {
    content: "\E920"
}

.icon-toapprove:before {
    content: "\E900"
}

.icon-transfer:before {
    content: "\E91F"
}

.icon-reject:before {
    content: "\E92B"
}

.icon-generate:before {
    content: "\E921"
}

.icon-finish:before {
    content: "\E92F"
}

.icon-archive:before {
    content: "\E906"
}

.icon-part:before {
    content: "\E922"
}

.icon-accept:before {
    content: "\E901"
}

.icon-uparrow:before {
    content: "\E933"
}

.icon-downarrow:before {
    content: "\E932"
}

.icon-leftarrow:before {
    content: "\E918";
}

.icon-rightarrow:before {
    content: "\E90E";
}

.icon-remove:before {
    content: "\E930"
}

.icon-close:before {
    content: "\E930"
}

.icon-expand:before {
    content: "\E915"
}

.icon-collapse:before {
    content: "\E916"
}

.icon-sync:before {
    content: "\E923"
}

.icon-cancel:before {
    content: "\E931"
}

.icon-error:before {
    content: "\E93A"
}

.icon-info:before {
    content: "\E939"
}

.icon-file:before {
    content: "\E93B";
}

.icon-assign:before {
    content: "\E93C"
}

.icon-application:before {
    content: "\E909"
}

.icon-open-in-sirius:before {
    content: "\E927"
}

.icon-warning:before {
    content: "\E92E"
}

.icon-pdf:before {
    content: "\E93D";
}

.icon-export:before {
    content: "\E943";
}

.icon-import:before {
    content: "\E94E"
}

.icon-notification:before {
    content: "\E944";
}

.icon-warning2:before {
    content: "\E942";
}

.icon-preview:before {
    content: "\E93F";
}

.icon-person-checked:before {
    content: "\E93E";
}

.icon-sheets:before {
    content: "\E940";
}

.icon-user:before {
    content: "\E90B";
}

.icon-help:before {
    content: "\E912";
}

.icon-correction:before {
    content: "\E946";
}

.icon-support:before {
    content: "\E945";
}

.icon-signed:before {
    content: "\E947";
    color: #999999;
}

.icon-signed-valid:before {
    content: "\E947";
    color: #27ae60;
}

.icon-signed-invalid:before {
    content: "\E947";
    color: #e74c3c;
}

.icon-computer:before {
    content: "\E948";
}

.icon-attachment:before {
    content: "\E949";
}

.icon-chart:before {
    content: "\E911";
}

.icon-download-template:before {
    content: "\E94A";
}

.icon-upload-file:before {
    content: "\E94E";
}

.icon-change-branchen:before {
    content: "\E94D";
}

.icon-report:before {
    content: "\E910";  
}

.icon-edit-form:before {
    content: "\E952"
}

.icon-enter-values:before {
    content: "\E950";
}

.icon-error-log:before {
    content: "\E94F";
}
.icon-comment:before {
    content: "\E929"
}
.icon-add-comment:before {
    content: "\E928"
}