@import (reference) "variables.less";
app-prism-editor {
    display: block;
    max-height: 300px;
    max-width: 100% !important;
    pre {
        &.language-formular {
            min-height: 36px;
            padding: 5px;
            font-size: 16px;
            white-space: pre;
            max-height: 300px;
            overflow-y: auto;
            overflow-x: hidden;
            white-space: pre-wrap;
            word-break: break-word;
            word-wrap: break-word;
            outline: 0;
            .token {
                color: #333;
                padding-right: 3px;
                &.operator {
                    background: transparent;
                }
            }
            .variable {
                color: darkgreen;
                letter-spacing: 1px;
            }
            .row-data-name {
                color: darkred;
                letter-spacing: 1px;
            }
            .static {
                color: darkorange;
            }
            .function {
                color: darkblue ;
            }
            .punctuation {
                font-weight: bold;
                color: #000;
                &.active {
                    color: red;
                }
            }
        }
    }
    &.validation {
        pre {
            height: 80px;
            &.disabled {
                overflow: visible;
            }
        }
        &.ng-invalid.ng-dirty {
            pre {
                border-color: #ff0000;
                background-color: rgba(255, 0, 0, 0.0470588235294118);
            }
        }
        &.kzFormular {
            pre.disabled {
                height: 260px;
            }
        }
    }
    .status {
        margin-top: 5px;
    }
}

.formular-errors {
    list-style: none;
    color: red;
    padding: 0 0 0 0;
    >li {
        margin-bottom: 10px;
    }
}

.formel-validation-message {
    margin-top: 20px;
    margin-bottom: 20px;

}
.success-validation {
  color: #1D9A35;
}
