@import (reference) "../styles/variables.less";
.navbar-default {
    background-color: white;
    right: auto;
    left: auto;
    a:hover {
        text-decoration: none;
    }
    // .container {
    //     padding-left: 0;
    //     padding-right: 0;
    //     &:last-child {
    //         border-top: 1px solid @default-control-border-color;
    //         padding-left: 10px;
    //     }
    // }
    .navbar-header {
        padding-right: 20px;
        padding-left: 15px;
        min-height: @default-height-header;
        // img {
        //     width: 101px;
        //     height: 23px;
        //     margin-top: 15px;
        // }
    }
    .user-info,
    .actions,
    .flag-alert {
        max-height: @default-height-header;
        color: @default-black-color;
        font-size: 14px;
        .dropdown-menu li a {
            color: #337ab7;
        }
        p {
            display: inline-block;
            margin: 0;
            margin-right: 15px;
            color: @default-black-color;
            vertical-align: super;
            a {
                max-width: 100px;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
        i {
            font-style: normal;
            color: @default-gray-color;
            vertical-align: sub;
            min-height: @default-height-header;
            padding: 0 15px;
            padding-top: 15px;
            &.ion {
                font-size: 35px;
            }
            &.fa {
                font-size: 25px;
                vertical-align: top;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
    .user-info:hover,
    .actions>i:hover,
    .dropdown-menu>li:hover,
    .dropdown-menu>li>a:hover {
        background-color: @default-menu-hover-color;
    }
    .user-info {
        cursor: pointer;
        align-items: center;
        display: flex;
        .menu-radio-item {
            height: auto;
            min-height: 63px;
            >a {
                flex-direction: column !important;
                align-items: baseline !important;
                justify-content: space-around;
                height: auto !important;
                padding-top: 0 !important;
                padding-bottom: 0 !important;
                >div {
                    width: 100%;
                }
            }
            label {
                display: flex;
                align-items: center;
                width: 100%;
                input[type="radio"] {
                    margin: 0;
                    position: relative;
                    margin-right: 15px;
                }
                div {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    overflow: hidden;
                }
            }
        }
    }
    .actions {
        border-left: 1px solid @default-control-border-color;
        border-right: 1px solid @default-control-border-color;
    }
    .flag-alert {
        border-right: 1px solid @default-control-border-color;
        display: flex;
        .icon {
            font-size: 35px;
            color: @default-alert-icon-color;
            padding-right: 20px;
            padding-top: 11px;
            &:hover {
                color: @default-blue-color;
            }
        }
    }
    .menu {
        display: flex;
        align-items: center;
        font-size: 17px;
        min-height: @default-height-header;
        height: @default-height-header;
        padding: 0 10px 0 8px;
        cursor: pointer;
        &:hover {
            background-color: @default-menu-hover-color;
        }
        i,
        a {
            color: @default-blue-color;
        }
        i {
            font-size: 30px;
            margin-bottom: 5px;
        }
        &.dropdown-submenu {
            >a {
                &:after {
                    border-left-color: #fff;
                    margin-top: 12px;
                }
            }
            .dropdown-menu .dropdown-submenu .dropdown-menu {
                left: 100%;
                top: -1px;
            }
        }
        .app-sub-menu {
            .dropdown-menu,
            &.dropdown-menu {
                >li {
                    display: flex;
                    align-items: center;
                    &:hover,
                    &:hover>a,
                    >a:hover>p {
                        background-color: @default-blue-color;
                        color: white;
                        >i {
                            color: white !important;
                        }
                    }
                    >a {
                        width: 100%;
                        height: 61px;
                        line-height: 2.2;
                        padding: 8px 9px;
                        display: flex;
                        align-items: center;
                        i {
                            margin: 0;
                            color: red;
                            padding-right: 5px;
                            &.fa-angle-right {
                                color: @default-blue-color;
                                font-size: 20px;
                                margin-left: auto;
                                padding-right: 5px;
                            }
                        }
                        p {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

app-breadcrumb {
    height: 60px;
    flex: 1 1 auto;
    .fa {
        color: @default-blue-color;
        font-size: 17px;
    }
    .breadcrumb {
        background-color: #fff;
        margin: 0;
        padding: 0;
        max-height: @default-breadcrumb-height-header;
        min-height: @default-height-header;
        display: inline-block;
        width: 90%;
        >li {
            display: inline-flex;
            align-items: center;
            font-size: 17px;
            min-height: @default-height-header;
            height: @default-height-header;
            padding: 0 5px;
            cursor: pointer;
            max-width: 30%;
            &:hover {
                background-color: @default-menu-hover-color;
            }
            a,
            .fa,
            .ionicons {
                color: @default-blue-color;
            }
            a {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                text-decoration: none;
            }
            .fa {
                margin: 0;
                margin-right: 10px;
            }
            .ionicons {
                font-size: 20px;
            }
            +li::before {
                display: none;
            }
            &.dropdown-submenu {
                >a {
                    &:after {
                        display: none;
                    }
                }
                >.dropdown-menu {
                    top: 70px;
                    left: 0;
                    margin-top: 0;
                    margin-left: 0;
                }
            }
        }
    }
}

.dropdown-menu {
    left: auto;
    float: none;
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: none;
    background-color: @default-menu-background-color;
    background-clip: border-box;
    margin-left: -9px;
    min-width: 170px;
    >li {
        height: 63px;
        padding: 11px 0;
        border: 1px solid @default-control-border-color;
        border-width: 1px 0;
    }
    &.active {
        display: block;
        margin-bottom: 5px;
    }
}

.user-info {
    min-width: 11%;
    .app-sub-menu li p {
        color: @default-blue-color !important;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .app-sub-menu li:hover p {
        color: white !important;
    }
}

.dropdown-submenu {
    position: relative;
    border-radius: 0;
    >.dropdown-menu {
        top: 100%;
        left: 0;
        margin-left: 0;
    }
    &:hover>.dropdown-menu {
        display: block;
    } // > a:after {
    //   display: block;
    //   content: " ";
    //   float: right;
    //   width: 0;
    //   height: 0;
    //   border-color: transparent;
    //   border-style: solid;
    //   border-width: 5px 0 5px 5px;
    //   border-left-color: #cccccc;
    //   margin-top: 5px;
    //   margin-right: -10px;
    // }
     :hover>a:after {
        border-left-color: #ffffff;
    }
    &.pull-left {
        float: none;
        >.dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }
    }
}
