.default-font-style{
    font-family: 'Lato-Regular', Lato;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
}

@default-background-color: #999999;
@default-light-gray-color: #f8f8f8;
@default-light-1-gray-color: rgba(0,0,0,0.4);
@default-gray-color: #8f8f8f;
@default-blue-color: #00358E;
@default-disable-color: #666666;
@default-validation-color: #ff0000;
@default-success-color: #1d9a35;
@default-black-color: #1e1e1e;
@default-main-content-background-color:#e3e3e3;
@default-footer-background-color:rgba(102, 102, 102, 1);
@default-text-color: #333;
@default-control-border-color: #cccccc;
@default-menu-hover-color: #D2EDFD;
@default-alert-icon-color: rgba(128, 0, 128, 1);
@default-menu-background-color: rgba(248, 248, 248, 1);

@default-readonly-control-height: 34px;
@default-height-header: 60px;
@default-min-height-main-content: 200px;
@default-breadcrumb-height-header: 40px;

@default-icon-font-family: 'icomoon';
@default-icon-font-size: 35px;