<!--The content below is only a placeholder and can be replaced.-->
<div style="background-color: darkgray; min-height: 625px;">
    <!-- <nav>
        <a routerLink="/home">Home</a>
        <a routerLink="/users">Users</a>
    </nav> -->
    <app-navigation></app-navigation>
    <div class="main-content container-fluid">
        <span defaultOverlayTarget></span>
        <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
</div>
