.list-survey-title {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: rgba(0, 51, 136, 0.2);
}

p-dropdown.float-right {
  float: right;
}

.department-title {
  font-size: 18px;
  color: #999;
  margin-bottom: 0;
}
