<div class="spinner">
  <div [ngBusy]="busy" class="row">
    <!-- <div class="panel col-md-12 min-height-panel">
      this will be implement in Assignment 2
    </div> -->
    <div class="container panel-fixed-top">
      <div class="pull-right pull-right-button-group">
        <button *ngIf="isBranchDirector && data.Status !== status.Submitted" class="k-button k-primary" (click)="save()">Save</button>
        <button *ngIf="isBranchDirector && data.Status !== status.Submitted" [disabled]="disableSubmit" class="k-button k-primary" (click)="submit()">Submit</button>
        <button *ngIf="!isBranchDirector && data.Status === status.Submitted" class="k-button k-primary" (click)="onCorrecting()">Set back to correcting</button>
        <button *ngIf="!isBranchDirector && data.Status === status.Submitted" class="k-button k-primary" (click)="onClose()">Close Single Survey</button>
        <button class="k-button k-secondary" (click)="onBackClick()">Back</button>
      </div>
    </div>
    <div class="row row-no-outside-gutter">
      <div class="col-md-12 col-no-padding">
        <div class="col-md-9 col-no-padding">
          <div class="panel">
            <div class="panel-heading">
                <h2>Survey Information
                </h2>
            </div>
            <div class="panel-body">
              <div class="row top-buffer-40">
                <div class="col-md-6 left-readonly">
                  <div class="row">
                    <div class="col-md-6">
                      <p class="readonly-label">Survey Name</p>
                    </div>
                    <div class="col-md-6">
                      <p class="readonly-value">{{data.SurveyName}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <p class="readonly-label">Status</p>
                    </div>
                    <div class="col-md-6">
                      <p class="readonly-value status-font-field" [ngClass]="{
                        'gray-field': data.Status === status.Open,
                        'green-field': data.Status === status.Submitted,
                        'light-green-field': data.Status === status.Appending,
                        'red-field': data.Status === status.Correcting,
                        'orange-field': data.Status === status.Closed
                      }">
                        {{SingleSurveyStatus[data.Status]}}
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <p class="readonly-label">Branch Director</p>
                    </div>
                    <div class="col-md-6">
                      <p class="readonly-value">{{data.DirectorName}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <p class="readonly-label">Country</p>
                    </div>
                    <div class="col-md-6">
                      <p class="readonly-value">{{data.BranchCompany}}</p>
                    </div>
                  </div>
                </div>



                <div class="col-md-6 right-readonly">
                    <div class="row">
                      <div class="col-md-6">
                        <p class="readonly-label">Created Date</p>
                      </div>
                      <div class="col-md-6">
                        <p class="readonly-value">{{data.CreatedDate | date:'dd.MM.yyyy'}}</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <p class="readonly-label">Submit Deadline</p>
                      </div>
                      <div class="col-md-6">
                        <p class="readonly-value">{{data.SubmitDeadline | date:'dd.MM.yyyy'}}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <p class="readonly-label">Last Editing</p>
                      </div>
                      <div class="col-md-6">
                        <p class="readonly-value">{{data.FillingTime | date:'dd.MM.yyyy - HH:mm'}}</p>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                          <p class="readonly-label">Submitted on</p>
                        </div>
                        <div class="col-md-6">
                          <p class="readonly-value">{{data.SubmitTime | date:'dd.MM.yyyy'}}</p>
                        </div>
                      </div>
                </div>
              </div>
            </div>
          </div>

          <div class="panel">
            <div class="panel-heading">
              <h2>Salary table</h2>
            </div>
            <div class="panel-body">
              <div class="row top-buffer-40">
                <p-table #dt [columns]="cols" class="k-grid" [value]="accountInSurveyData" dataKey="Staff.DepartmentName"
                selectionMode="multiple" [(selection)]="selectedRow">
                    <ng-template pTemplate="caption" *ngIf="!isBranchDirector">
                        <div class="ui-helper-clearfix">
                            <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="Export the report" (click)="generateReport()" style="float:left"></button>
                            <p-dropdown [options]="reportData" [(ngModel)]="selectedReportData" placeholder="Export to file" optionLabel="format" class="float-right"></p-dropdown>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr class="list-survey-title">
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th style="width:100px">Visa</th>
                            <th>Start Date</th>
                            <th>Role</th>
                            <th style="width:250px">Salary Value</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-expanded="expanded"
                      let-columns="columns">
                        <tr class="ui-widget-header" *ngIf="rowGroupMetadata[rowData.Staff.DepartmentName].index === rowIndex">
                            <td colspan="6" class="survey-year-header">
                              <a href="#" [pRowToggler]="rowData">
                                <i [ngClass]="expanded ? 'fa fa-fw fa-chevron-circle-down' : 'fa fa-fw fa-chevron-circle-right'"></i>
                                <span class="department-title">{{rowData.Staff.DepartmentName}}</span>
                              </a>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="rowexpansion" let-rowData let-rowIndex="rowIndex">
                          <tr>
                              <td>{{rowData.Staff['FirstName']}}</td>
                              <td>{{rowData.Staff['LastName']}}</td>
                              <td>{{rowData.Staff['StaffVisa']}}</td>
                              <td>{{rowData.Staff['StartDate'] | date:'dd/MM/yyyy'}}</td>
                              <td>{{rowData.Staff['Position']}}</td>
                              <td>
                                <input *ngIf="isBranchDirector" [disabled]="data.Status === status.Submitted" type="number" class="form-control" onlyNumber [(ngModel)]="rowData['SalaryValue']" >
                                <span *ngIf="!isBranchDirector">${{rowData['SalaryValue']}}</span>
                              </td>
                          </tr>
                    </ng-template>

                </p-table>
              </div>
            </div>
          </div>
        </div>



        <div class="col-md-3 notification-section col-small-padding">
          <app-single-survey-notification [Notes]="notes"></app-single-survey-notification>
        </div>
      </div>
    </div>

  </div>
</div>
