<div [ngBusy]="busy">
    <h3 class="first">Total Surveys</h3>
    <div class="row bottom-buffer">
        <p-toggleButton class="pull-left center-btn ui-togglebutton" onLabel="hide Completed Survey" offLabel="show Completed Survey"
          (onChange)="handleChange($event)" [(ngModel)]="isShowCompleteSurvey">
        </p-toggleButton>
        <button class="k-button k-primary pull-right center-btn" (click)="createItem()">
          <i class="icon icon-add"></i>
          Create survey
        </button>
    </div>
    <p-table class="k-grid" [columns]="cols" [value]="totalSurveys" sortField="SurveyYear" sortMode="single" (onSort)="onSort()">
        <ng-template pTemplate="header" let-columns>
                <tr class="list-survey-title">
                        <th>Survey Name</th>
                        <th>Status</th>
                        <th>Created Date</th>
                        <th>Single Surveys</th>
                        <th>Action</th>
                </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
            <tr class="ui-widget-header" *ngIf="rowGroupMetadata[rowData.SurveyYear].index === rowIndex">
                    <td colspan="5" class="survey-year-header">
                        {{rowData.SurveyYear}}
                    </td>
            </tr>
            <tr class="color-row" [ngClass]="{
              'gray-row': rowData['Status'] === status.Created,
              'green-row': rowData['Status'] === status.Published,
              'golden-row': rowData['Status'] === status.Validated,
              'purple-row': rowData['Status'] === status.Completed
            }">
                    <td class="none-border-column">{{rowData['SurveyName']}}</td>
                    <td class="status-font-field none-border-column" [ngClass]="{
                      'gray-field': rowData['Status'] === status.Created,
                      'green-field': rowData['Status'] === status.Published,
                      'golden-field': rowData['Status'] === status.Validated,
                      'purple-field': rowData['Status'] === status.Completed
                    }">{{TotalSurveyStatus[rowData['Status']]}}</td>
                    <td class="none-border-column">{{rowData['CreatedDate'] | date:'MM/dd/yyyy'}}</td>
                    <td class="none-border-column">
                        <a (click)="openSingleSurveyList(rowData)" class="text-underline">
                            {{rowData['SingleSurveyQuantity'] === 0 ? '' : rowData['SingleSurveyQuantity']}}
                        </a>
                    </td>
                    <td class="none-border-column row">
                        <button *ngIf="rowData['Status'] === status.Created || rowData['Status'] === status.Published" class="k-button k-primary action-list" (click)="editSurvey($event, rowData)">
                            <i class="fa fa-2x fa-edit"></i>
                        </button>
                        <button *ngIf="rowData['CanCompletedSurvey']" class="k-button k-primary action-list" (click)="completeSurvey($event, rowData)">
                          <i class="fa fa-2x fa-check"></i>
                      </button>
                        <button *ngIf="rowData['Status'] === status.Created" class="k-button k-primary action-list" (click)="createSingle($event, rowData)">
                            <i class="fa fa-2x fa-sitemap"></i>
                        </button>
                        <button *ngIf="rowData['Status'] === status.Created" class="k-button k-primary action-list" (click)="showDeleteConfirm($event, rowData)">
                          <i class="fa fa-2x fa-trash"></i>
                        </button>
                    </td>
            </tr>
        </ng-template>
    </p-table>

    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425" #cd>
            <p-footer>
                <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
                <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
            </p-footer>
    </p-confirmDialog>
</div>

