.car-item {
  padding: 1.5em;
  border-bottom: 1px solid #d9d9d9;
}

.ui-g > div {
  padding: .4em;
}

.ui-g .ui-g-10 {
  font-weight: bold;
}

@media (max-width: 40em) {
  .car-details {
      text-align:center;
  }
}

.text-underline {
  text-decoration: underline !important;
}

.list-survey-title {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: rgba(0, 51, 136, 0.2);
}
.survey-year-header {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.action-inline-flex {
  display: inline-flex;

}
