<h3 class="first">Single Surveys</h3>
<div class="row bottom-buffer">
    <button *ngIf="branchCompany" pButton type="button" iconPos="left" label="Account Staffs" class="account-staffs-button pull-right center-btn ui-button-raised ui-button-rounded ui-button-info" icon="pi pi-list" (click)="showBranchStaffs($event)" style="margin-top:0;"></button>
</div>
<p-table class="k-grid" [columns]="cols" [value]="singleSurveys" [(selection)]="selectedSingleSurvey" (onRowSelect)="onRowSelect($event)"  selectionMode="single"
  sortField="SurveyYear" sortMode="single" (onSort)="onSort()" dataKey="SurveyName" (onRowUnselect)="onRowUnselect($event)">
        <ng-template pTemplate="header" let-columns>
            <!-- <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr> -->
            <tr class="list-survey-title">
                <th>Survey Name</th>
                <th>Status</th>
                <th>Created Date</th>
                <th>Submit Deadline</th>
                <th style="width:6em">Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
            <tr class="ui-widget-header" *ngIf="rowGroupMetadata[rowData.SurveyYear].index === rowIndex">
                <td colspan="5" class="survey-year-header">
                    {{rowData.SurveyYear}}
                </td>
            </tr>
            <tr [pSelectableRow]="rowData" class="color-row" [ngClass]="{
              'gray-row': rowData['Status'] === status.Open,
              'green-row': rowData['Status'] === status.Submitted,
              'red-row': rowData['Status'] === status.Correcting,
              'light-green-row': rowData['Status'] === status.Appending,
              'orange-row': rowData['Status'] === status.Closed
            }">
                <td>{{rowData['SurveyName']}}</td>
                <td class="status-font-field none-border-column" [ngClass]="{
                  'gray-field': rowData['Status'] === status.Open,
                  'green-field': rowData['Status'] === status.Submitted,
                  'light-green-field': rowData['Status'] === status.Appending,
                  'red-field': rowData['Status'] === status.Correcting,
                  'orange-field': rowData['Status'] === status.Closed
                }">{{SingleSurveyStatus[rowData['Status']]}}</td>
                <td>{{rowData['CreatedDate'] | date:'dd/MM/yyyy'}}</td>
                <td>{{rowData['SubmitDeadline'] | date:'dd/MM/yyyy'}}</td>
                <td class="none-border-column row">
                  <button class="k-button k-primary action-list" (click)="onRowSelect($event, rowData)">
                    <i class="fa fa-info"></i>
                  </button>
              </td>
            </tr>
        </ng-template>
    </p-table>

        <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425" #cd>
                <p-footer>
                    <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
                    <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
                </p-footer>
        </p-confirmDialog>
