<div class="spinner">
  <div [ngBusy]="busy" class="row">
    <div class="panel col-md-12 min-height-panel">
      <mat-horizontal-stepper [linear]="true" #stepper>
          <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel>Fill out survey infomation</ng-template>
              <div class="row top-buffer-40">
                <mat-form-field class="col-md-6">
                  <input matInput class="form-control" placeholder="Survey Name" [(ngModel)]="data.SurveyName" formControlName="surveyName" required>
                </mat-form-field>
              </div>
              <div class="row top-buffer-20">
                <mat-form-field class="col-md-6">
                  <mat-select class="form-control" [(ngModel)]="data.SurveyYear" matNativeControl placeholder="Select Year Of Survey" formControlName="surveyYear" required>
                    <mat-option value="2017">2017</mat-option>
                    <mat-option value="2018">2018</mat-option>
                    <mat-option value="2019">2019</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="row top-buffer-40">
                <div class="col-md-12">
                    <button class="k-button k-primary" mat-button matStepperNext>Next</button>
                </div>

              </div>
            </form>
          </mat-step>
          <mat-step>
            <form>
              <ng-template matStepLabel>Choose branch companies</ng-template>
              <div class="row top-buffer-40">
                <app-form-field class="col-md-6" [label]="'Choose Branch Company'" [labelCol]="5" [controlCol]="10">
                  <p-pickList sourceHeader="Source Branch Company List" targetHeader="Target Branch Company List" [source]="branchSourceList" [target]="branchTargetList" filterBy="City"
                  [sourceStyle]="{'width':'300px'}" [targetStyle]="{'width':'300px'}"
                  (onMoveToTarget)="moveToTarget($event)" (onMoveAllToTarget)="moveAllToTarget($event)"
                  (onMoveAllToSource)="moveAllToSource($event)" (onMoveToSource)="moveToSource($event)">
                    <ng-template let-branch pTemplate="item">
                        <div class="ui-helper-clearfix">
                            <div style="font-size:14px;float:left;margin:15px 5px 0 0">{{branch.City}} - {{branch.CountryName}}</div>
                            <img src="../../../assets/images/{{branch.CountryName}}.png" style="display:inline-block;float:right;margin:2px 0 2px 2px" width="50">
                        </div>
                    </ng-template>
                </p-pickList>
                </app-form-field>
              </div>

              <div class="row top-buffer-40">
                <div class="col-md-12">
                    <button class="k-button k-primary pull-right" mat-button matStepperNext>Next</button>
                    <button class="k-button k-secondary pull-right margin-right-10" mat-button matStepperPrevious>Back</button>

                </div>

              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Done</ng-template>
                <div class="row top-buffer-40">
                  <div class="col-md-6">
                    <div>Select a date for publishing survey (General Director):</div>
                    <p-calendar [(ngModel)]="data.PublishDeadline" formControlName="publishDeadline"
                      dateFormat="dd/mm/yy" [showIcon]="true"
                      [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
                  </div>
                </div>
                <div class="row top-buffer-40">
                  <div class="col-md-6">
                    <div>Select a date for submitting survey (Branch Director):</div>
                    <p-calendar [(ngModel)]="data.SubmitDeadline" formControlName="submitDeadline"
                      dateFormat="dd/mm/yy" [showIcon]="true"
                      [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
                  </div>
                </div>
                <div class="row top-buffer-40">
                  <div class="col-md-6">
                    <div>Select a date for validating survey (General Director):</div>
                    <p-calendar [(ngModel)]="data.ValidateDeadline" formControlName="validateDeadline"
                      dateFormat="dd/mm/yy" [showIcon]="true"
                      [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
                  </div>
                </div>
                <div class="row top-buffer-40">
                  <div class="col-md-12">
                      <button class="k-button k-primary pull-right" mat-button (click)="save()">Create survey</button>
                      <button class="k-button k-secondary pull-right margin-right-10" mat-button matStepperPrevious>Back</button>
                  </div>
                </div>
            </form>

          </mat-step>
        </mat-horizontal-stepper>
    </div>


  </div>
</div>
