/deep/app-create-a-survey {

  .ui-picklist .ui-picklist-buttons {
    padding: 0.25em 2em;
  }

  .mat-horizontal-content-container {
    overflow: visible !important;
  }

  .ui-picklist .ui-picklist-buttons:first-child{
    padding-left: 0 !important;
  }
}
