<h1>Users</h1>
<ul class="users">
  <li *ngFor="let user of users">
    <a routerLink="/user/{{user.Id}}">
      <span class="badge">{{user.Id}} {{user.FirstName}} {{user.LastName}} {{user.StaffVisa}} {{user.Phone}}</span>
    </a>
    <!-- <button class="delete" title="Detail"
      (click)="detail(user)">Detail</button> -->
  </li>
</ul>