<div class="k-dialog container-fluid">
  <div *ngIf="context.title" class="row k-dialog-titlebar">
    <h4>{{context.title}}</h4>
  </div>
  <div class="row k-dialog-body" [innerHTML]="message"></div>
  <div class="row k-dialog-footer">
    <button class="k-button k-primary pull-right" (click)="btnOkClick()" #ok>{{context.btnOk}}</button>
  </div>
</div>