@import (reference) "../styles/variables.less";
/deep/app-navigation {
  .row {
    width:100%;
  }
}
.user-info {
    .dropdown-submenu {
        &>a {
            color: #337ab7;
            font-size: 14px;
        }
        &>.dropdown-menu {
            left: auto;
        }
        &>div {
            background-color: rgba(0, 0, 0, 0);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: none;
        }
    }
    .user-name {
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
        font-size: 14px;
        color: @default-black-color;
    }
    .icon {
        padding: 15px 5px 0 15px;
        color: #8f8f8f;
    }
    .dropdown-menu > li > a{
        overflow: hidden !important;
        text-overflow: ellipsis;
    }
}

.navbar-shadow {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 10px 6px -6px #999;
}
.user-info-none-hover:hover {
    background-color:transparent !important;
    cursor: default !important;
    i:hover {
        cursor: default;
    }
}
.navbar {
    background-color: white;
    .container {
        display: flex;
    }
}

.border-side {
  border-left: 0.5px solid @default-main-content-background-color;
  border-right: 0.5px solid @default-main-content-background-color;
  min-height: 65px;
}

.company-title {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.logo {
    margin: 0;
    width:60px;
    height:auto;
}
