<header>
  <nav class="navbar navbar-default navbar-fixed-top" #navbar>
    <div class="container ">
      <div class="row">
        <div class="col-md-2 col-lg-2">
          <div class="navbar-header pull-left">
            <a href="/">
              <img class="logo" src="../../../assets/images/1004px-Logo-hcmut.svg.png" />
            </a>
          </div>
        </div>

        <div class="col-md-8 col-lg-8 border-side company-title">
          {{!!userService.loggedInUser && !!userService.loggedInUser.CountryName ? userService.loggedInUser.CountryName : 'General Company'}}
        </div>

        <div class="col-md-2 col-lg-2">
          <div class="user-info pull-right menu dropdown-submenu" role="menu" aria-labelledby="dropdownMenu">
            <span tabindex="0" onclick="return true"></span>
            <div tabindex="0" onclick="return true"></div>
            <i class="icon icon-user"></i>
            <a title="{{fullName}}" class="user-name" *ngIf="!!userService.loggedInUser">{{userService.loggedInUser.FirstName}} {{userService.loggedInUser.LastName}}</a>
            <app-sub-menu class="dropdown-menu app-sub-menu" [menuItems]="settingItems" (openUserSettingModal)="openUserSetting($event)"></app-sub-menu>
          </div>
        </div>
      </div>









    </div>
  </nav>
</header>
