<h3 class="first">{{branchCompany.CountryName}} - {{branchCompany.City}} Staffs</h3>
<div class="row bottom-buffer">
    <button class="k-button k-primary pull-right center-btn" (click)="createStaff()">
      <i class="icon icon-add"></i>
      Add Staff
    </button>
</div>
<p-table class="k-grid" [value]="users" sortField="FirstName" sortMode="single" (onSort)="onSort()">
    <ng-template pTemplate="header" let-columns>
            <tr class="branch-staff-title">
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>StaffVisa</th>
                    <th>Phone</th>
                    <th>StartDate</th>
                    <th>Position</th>
                    <th style="width:10em">Action</th>
            </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
        <tr class="color-row">
                <td class="none-border-column">{{rowData['FirstName']}}</td>
                <td class="none-border-column">{{rowData['LastName']}}</td>
                <td class="none-border-column">{{rowData['StaffVisa']}}</td>
                <td class="none-border-column">{{rowData['Phone']}}</td>
                <td class="none-border-column">{{rowData['StartDate'] | date:'MM/dd/yyyy'}}</td>
                <td class="none-border-column">{{rowData['Position']}}</td>
                <!-- <td class="none-border-column">
                    <button *ngIf="rowData['Status'] === status.Created" pButton type="button" class="ui-button-raised ui-button-rounded ui-button-danger" icon="pi pi-trash" (click)="showDeleteConfirm($event, rowData)" style="margin-top:0"></button>
                </td> -->
                <!-- <td class="none-border-column row">
                    <button class="k-button k-primary action-list" (click)="showDeleteConfirm($event, rowData)">
                      <i class="fa fa-danger"></i>
                    </button>
                </td> -->
                <td class="none-border-column row">
                    <p-button icon="pi pi-pencil" styleClass="ui-button-primary ui-button-raised ui-button-rounded" (click)="editStaff($event, rowData)"></p-button>
                    <p-button icon="pi pi-trash" styleClass="ui-button-danger ui-button-raised ui-button-rounded" (click)="showDeleteConfirm($event, rowData)"></p-button>
                </td>
        </tr>
    </ng-template>
</p-table>

    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425" #cd>
            <p-footer>
                <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
                <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
            </p-footer>
    </p-confirmDialog>
